* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

img {
    display: block;
}
ul {
    list-style: none;
}
a {
    color: black;
    &:link {text-decoration: none};
    &:visited {text-decoration: none};
    &:active {text-decoration: none};
    &:hover {text-decoration: none};
}



.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}



.flex {
    display: flex;
}
.col {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.just-ctr {
    justify-content: center;
}
.just-sp-bw {
    justify-content: space-between;
}
.align-ctr {
    align-items: center;
}

.txt-bold {
    font-weight: bold;
}

.mt-5 {
    margin-top: 5px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-30 {
    margin-top: 30px;
}