* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.just-ctr {
    justify-content: center;
}
.align-ctr {
    align-items: center;
}